{% extends 'layout.html' %}

{% block content %}
<nav class="nav" style="text-align: center;">
  <h1>Insurance Cost predictor</h1>
</nav>

<div class="container my-4">
  <form action="/" method="POST">
    <div class="col-md-6">
      <label for="validationCustom01" class="form-label">Age</label>
      <input type="text" class="form-control" name="age" id="validationCustom01" value="" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-6">
      <label for="validationCustom04" class="form-label">Gender</label>
      <select class="form-select" name="gender" id="validationCustom02" required>
        <option selected disabled value="">Select</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
      <div class="invalid-feedback">
        Please select a Gender.
      </div>
    </div>

    <div class="col-md-6">
      <label for="validationCustom01" class="form-label" >BMI</label>
      <input type="text" class="form-control" name="bmi" placeholder="Typically in range 18-32" id="validationCustom03" value="" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-6">
      <label for="validationCustom04" class="form-label">No. of Children</label>
      <select class="form-select" name="children" id="validationCustom04" required>
        <option selected disabled value="">Select</option>
        <option value="0">Zero</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        <option value="4">Four</option>
        <option value="5">Five</option>
      </select>
      <div class="invalid-feedback">
        Please select no. of Children
      </div>
    </div>

    <div class="col-md-6">
      <label for="validationCustom04" class="form-label">Smoker?</label>
      <select class="form-select" name="smoker" id="validationCustom05" required>
        <option selected disabled value="">Select</option>
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
      <div class="invalid-feedback">
        Please select Smoker/Non Smoker
      </div>
    </div>
    <div class="col-md-6">
      <label for="validationCustom04" class="form-label">Region</label>
      <select class="form-select" name="region" id="validationCustom06" required>
        <option selected disabled value="">Select</option>
        <option selected>Select</option>
        <option value="northeast">North</option>
        <option value="northwest">South</option>
        <option value="southeast">North-East</option>
        <option value="southwest">Middle</option>
      </select>
      <div class="invalid-feedback">
        Please select a Region.
      </div>
    </div>
    <div style="padding-left: 8rem;">
      <button type="submit" class="btn btn-dark" data-toggle="tooltip" data-placement="bottom"
        title="Submit this to do">Predict</button>
    </div>
    <br>
    <pre> <a href="https://www.calculatorsoup.com/calculators/health/bmi-calculator.php" target="_blank" ><h3>click here</h3></a> to calculate your actualy BMI</pre>
  </form>
</div>
{% endblock content %}